<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {{ form_start(form) }}
    <button type="submit">submit</button>
    {{ form_end(form) }}

</head>
<body>

</body>
</html>