{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
    <h1>Forget password page</h1>
{% endblock fos_user_content %}
